<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Pedir Ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="sos-content">
  <div class="wrap">

    <div class="sos-circle">
      <div class="sos-inner">SOS</div>
    </div>

    <p class="texto">
      Pulsa el botón de pánico si necesitas ayuda urgente, tus contactos de confianza
      recibirán tu ubicación en tiempo real.
    </p>

    <ion-button expand="block" class="btn-add">
      Añadir contactos de confianza
      <ion-icon name="add" slot="end"></ion-icon>
    </ion-button>

    <div class="lista">
      <div class="contacto">
        <div class="icono"></div>
        <div class="info">
          <div class="nombre">Papá</div>
          <div class="tel">222-339</div>
        </div>
        <ion-button fill="clear" class="call">
          <ion-icon name="call"></ion-icon>
        </ion-button>
      </div>

      <div class="contacto">
        <div class="icono"></div>
        <div class="info">
          <div class="nombre">Voluntaria Laura</div>
          <div class="tel">111-111</div>
        </div>
        <ion-button fill="clear" class="call">
          <ion-icon name="call"></ion-icon>
        </ion-button>
      </div>

      <a class="gestionar" href="#">Gestionar contactos</a>
    </div>

  </div>
</ion-content>
