<app-cabecera></app-cabecera>

<ion-content [fullscreen]="true">

  <!-- Mensajes -->
  <ion-text color="danger" *ngIf="error" class="ion-padding">
    <p>{{ error }}</p>
  </ion-text>

  <div class="ion-padding" *ngIf="cargando">
    <ion-spinner></ion-spinner>
  </div>

  <!-- MAPA -->
  <div id="map" class="mapa"></div>

  <!-- Tarjeta reutilizable (solo 1, la seleccionada) -->
  <div class="card-flotante" *ngIf="seleccionado">
    <app-tarjeta-recurso
      [recurso]="seleccionado"
      (detalle)="verDetalle($event)">
    </app-tarjeta-recurso>

    <ion-button expand="block" fill="clear" color="medium" (click)="seleccionado = null">
      Cerrar
    </ion-button>
  </div>
  <div>
    <ion-button expand="block" class="btn-outline" routerLink="/inicio">
      Volver a Inicio
    </ion-button>
  </div>

  <app-boton-panico></app-boton-panico>

</ion-content>