<app-cabecera></app-cabecera>

<ion-content class="inicio-content">
  <div class="inicio-wrap">

    <h1 class="saludo">¡Hola {{ nombre }}!</h1>
    <p class="subtitulo">¿Qué quieres hacer hoy?</p>

    <div class="acciones">

      <div class="accion-card" (click)="irARecursos()">
        <img src="assets/recursos.png" alt="Mapa de recursos" />
        <span>Mapa de Recursos</span>
      </div>

      <div class="accion-card" (click)="irATablon()">
        <img src="assets/tablon-solidario.png" alt="Tablón solidario" />
        <span>Tablón Solidario</span>
      </div>

      <!-- AYUDA -->
      <div class="accion-card" routerLink="/ofrecer-ayuda">
        <img src="assets/ofrecer-ayuda.png" alt="Ofrecer ayuda" />
        <span>Ofrecer ayuda</span>
      </div>
      <!-- TARJETA DENUNCIAS -->
      <div class="accion-card" routerLink="/denuncias">
        <img src="assets/denuncias.png" alt="Denuncias" />
        <span>Denuncias</span>
      </div>
      



    </div>
    <app-boton-panico></app-boton-panico>


  </div>
</ion-content>